[Unit]
Description=Direwolf Packet TNC (%i)
After=sound.target network.target

[Service]
Type=simple
ExecStart=$HOME/rfmp/direwolf-wrapper.sh %i $HOME/rfmp/direwolf/direwolf-%i.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target

