[Unit]
Description=Direwolf Packet TNC (%i)
After=sound.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/direwolf-wrapper.sh %i /etc/direwolf/direwolf-%i.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target

